body {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 5px;
}

header p {
    margin: 5px;
    font-size: small;
}

header p:nth-child(1) {
    text-align: left;
}

header p:nth-child(3) {
    text-align: right;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 3vw;
    background-color: rgb(214, 214, 214);
    max-width: 97vw;
}

.required {
    color: crimson;
}

h1,
h2 {
    text-align: center;
    margin: 10px 0;
    color: #333;
}

form,
.frame {
    padding: 2vw;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[list] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(255, 222, 180);
}

form input[type="file"] {
    margin: 10px 0px;
    background-color: rgb(255, 222, 180);
    padding: 10px;
}

form label+select {
    display: block;
    margin-bottom: 10px;
    min-width: 30vw;
    padding: 10px;
}

form nav {
    padding-right: 10px;
}

form summary {
    margin: 10px 0px;
}

aside {
    background-color: #f2f2f2;
    color: #333;
    padding: 1px 10px 1px;
    width: 95%;
    border-radius: 5px;
    font-size: 0.8em;
}

table {
    width: 90vw;
    border-collapse: collapse;
    margin-top: 5px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 3px;
    text-align: left;
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 0.9em;
}

td {
    font-size: 0.9em;
    background-color: rgb(255, 222, 180);
}

/* Stil für Navigationsbereich */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 10px 0px;
    justify-content: center;
}

/* Stil für Absenden-Button */
button.nav-button,
a.nav-button,
.nav-button {
    background-color: #4CAF50;
    color: white;
    font-size: medium;
    text-decoration: none;
    padding: 5px 10px;
    margin: 10px 0px;
    max-width: 30vw;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    box-shadow: none;
}

/* Hover-Stil für beide Buttons */
.nav-button:hover {
    background-color: #2c682f;
}

.download-link {
    background-color: #6fcd72;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    /* display: inline-block; */
    transition: background-color 0.3s;
    margin-top: 10px;
    max-width: 60vw;
}

.download-link:hover {
    background-color: #46a14b;
}
