body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(214, 214, 214);
}

/* Styles für den Container "registration" */
.registration {
    max-width: 1500px;
}

/* Styles für den Container "participants" */
.participants {
    max-width: 1500px;
}

.container.max-width {
    max-width: 1900px;
}

.required {
    color: crimson;
}

h1,
h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
}

form {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="number"],
form input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="file"] {
    margin: 10px;
}

form label+select {
    display: block;
    margin-bottom: 10px;
    min-width: 100px;
}

aside {
    background-color: #f2f2f2;
    color: #333;
    padding: 1px 10px 1px;
    border-radius: 5px;
    margin: 5px;
    font-size: 0.8em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    font-size: 0.9em;
}

td {
    font-size: 0.9em;
    background-color: antiquewhite;
}

.download-link {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
    margin-top: 10px;
    max-width: 400px;
}

.download-link:hover {
    background-color: #45a049;
}

/* Stil für Navigationsbereich */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

/* Stil für Absenden-Button */
button.nav-button {
    background-color: #4CAF50;
    color: white;
    font-size: medium;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none; /* Entfernt den Standardrand des Buttons */
    box-shadow: none; /* Entfernt den Standard-Schatten des Buttons */
}

/* Stil für Link-Button */
a.nav-button {
    background-color: #4CAF50;
    color: white;
    font-size: medium;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover-Stil für beide Buttons */
.nav-button:hover {
    background-color: #2c682f;
}
