/* Allgemeine Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    /* sehr helles Grau */
    color: #333;
    /* Dunkelgrau für Text */
}

.container_registration {
    display: grid;
    grid-template-columns: 1fr;
    /* Eine Spalte für mobile Geräte */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    /* Weißer Hintergrund für den Inhalt */
}

.container_participants {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.required {
    color: crimson;
}

/* Header */
h1 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    /* Dunkelgrau für Überschriften */
}

/* Formularstyles (für die Einzelanmeldung) */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    /* Weißer Hintergrund für das Formular */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* leichter Schatten */
}

input[type="text"],
input[type="number"],
input[type="email"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Stil für die Dropdown-Elemente im Formular */
form label + select {
    display: block;
    margin-bottom: 10px;
}

aside {
    background-color: #f2f2f2; /* Hellgrauer Hintergrund */
    color: #333; /* Dunkelgrauer Text */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px; /* Optional: etwas Abstand nach oben */
    font-size: 0.8em; /* Kleinerer Text */
}


/* Teilnehmerliste */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Stil für den Download-Link */
.download-link {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.download-link:hover {
    background-color: #45a049;
}


/* Grid für Navigationselement */
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Drei gleichbreite Spalten für die Buttons */
    gap: 10px;
    /* Abstand zwischen den Spalten */
    justify-content: center;
    /* Zentriert die Spalten horizontal */
    margin-top: 20px;
    /* Fügt etwas Abstand oben hinzu */
}

/* Stil für die Buttons im Navigationselement */
nav button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

nav button:hover {
    background-color: #45a049;
}
